<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>index</title>
</head>
<body>
<br/>
<h1 style="color:red ">系统管理</h1>

<a href="#" onclick="userManagement()">用户管理</a><br/>

<a href="#" onclick="roleManagement()">角色管理</a><br/>

<a href="#" onclick="authorityManagement()">权限管理</a><br/>

</body>

<SCRIPT type="text/javascript">

    function userManagement() {

        location.href="/userManagement";
    }

    function roleManagement() {

        location.href="/roleManagement";
    }

    function authorityManagement() {

        location.href="/authorityManagement";
    }
</SCRIPT>

</html>