<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxg.plustest.mapper.User_roleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zxg.plustest.entity.User_role">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="rid" property="rid" />
    </resultMap>

</mapper>
